img {
  float: right;
  max-width: 60%;
}
h1#site-title {
  font size: 72px;
  letter-spacing: -3px;
  margin-top: 0;
  margin-bottom: .125cm;
  text-align: center;
}
h1#article-title {
    font-size: 48px;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: pink;
    }
}
body.dark-mode {
  background: #010101;
  color: #ffffff;
}

body.dark-mode button {
  background-color: #ffffff;
}
#message {
  background: #E9FFE4;
  border; 1px solid #178201;
  padding: 20px 40px;
  margin: 12px 0;
  border-radius: 4px;
  opacity: 1;
  transition: opacity .2s ease;
}


#message.dismissed {
  opacity: 0;
  height: 0;
}

#message button {
  float: right;
}
