img {
  float: right;
  max-width: 60%;
}
h1#site-title {
  font size: 72px;
  letter-spacing: -3px;
  margin-top: 0;
  margin-bottom: .125cm;
  text-align: center;
  ]
  h1#article-title {
    font-size: 48px;
  }
@media screen and (max-width: 600px) {
  body {
    background-color: magenta;
  }
}
